body {
    background-color: beige;
    color: black;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
}

li {
    border-color: black;
    border-style: solid;
    height: 60px;
    border-radius: 10px;
    background-color: aqua;
}

#box {
    float: left;
}

#box2 {
    float: right;
}

#add {
    align-content: center;
    text-align: center;
}